<div class="contents" style="padding: 24px;">
    <div style="display: flex;">
        <ng-container *ngIf="company.image != null; else photo">
            <div>
                <img src="data:image/png;base64,{{company.image.content}}" alt=""
                    style="max-height: 200px; max-width: 200px; border-radius: 12px;">
            </div>

        </ng-container>
        <div class="description ml-3">
            <div class="h36">
                {{company.companyName}}
            </div>
            <p>
                {{company.description}}
            </p>
        </div>
    </div>
    <div class="list" *ngIf="company.excelFileUsers != null">
        <div class="h18 mr-4">
            <b>Список сотрудников</b>
        </div>
        <img src="../../../assets/image/iconFile1.png" alt="" class="mr-2">
        <span>{{company.excelFileUsers.fileName}}</span>
    </div>
    <div *ngIf="company.gradesCollection != null" style="margin-top: 24px;">
        <div class="h18">
            <b>Список грейдов компании</b>
        </div>
        <ol *ngFor="let grade of company.gradesCollection" class="mt-2">
            <li>
                {{grade.title}}
            </li>
        </ol>
    </div>
    <div class="activeOrReject" style="display: flex;">
        <div class="button1" (click)="rejectCompany(company.id)"
        style="background-color: rgba(235, 40, 40, 1); color: #fff; margin-right: 12px;">Отклонить
        </div>
        <div class="button1" (click)="activeCompany(company.id, true)"
        *ngIf="company.excelFileUsers != null; else activeCompanyNoRegisterUser"
        style="background-color: rgba(50, 205, 94, 1); color: #fff;">
            Принять
        </div>
    </div>
</div>

<ng-template #activeCompanyNoRegisterUser>
    <div class="button1" (click)="activeCompany(company.id, false)"
    style="background-color: rgba(50, 205, 94, 1); color: #fff;">
        Принять
    </div>
</ng-template>
<ng-template #photo>
    <img src="../../../assets/image/no-user-image-icon-27.png" alt=""
        style="height: 200px; width: 200px; border-radius: 12px;">
</ng-template>