<div class="body">
    <div class="container">
        <p class="hrtech">HR-Tech_System</p>
        <p class="hrtech2">для оценочки по SaaSу</p>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-lg-7">
                <div class="saas">
                    <div>
                        (C) SaaS Team
                    </div>
                </div>
            </div>
            <a routerLink="/lk" class="col-lg-2 button1 lk">
                Личный кабинет
            </a>
            <a routerLink="/create-company" class="col-lg-2 button2 createCompany">
                Добавить компанию
            </a>
        </div>
    </div>
</div>