.headContainer {
    max-width: 1600px;
}
.container {
    padding: 0;
}
.border {
    border: 1px solid #e8e9e9;
    box-sizing: border-box;
    border-radius: 12px;
}
.companyDescription {
    display: flex;
    position: relative;
}
.description {
    margin-left: 24px;
    margin-top: 12px;
    width: 836px;
}
.description p {
    margin-top: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    color: #5e6466;
}
.blockButton {
    position: absolute;
    right: 0 !important;
    margin-top: 22px;
    margin-right: 22px;
}
.blockButton button {
    width: 100%;
    height: 44px;
    margin-bottom: 12px;
    color: rgba(50, 168, 205, 1);
    justify-content: start;
}
.blockButton button img {
    margin-right: 10px;
    align-items: center;
}
.blockButton button p {
    margin-bottom: 0;
}
.scroll-container {
    display: block;
    width: 100%;
    height: 560px;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.scroll-page,
.experts {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 12px;
}
.file,
.skill {
    display: flex;
    width: 100%;
    background-color: #fff;
}
.evaluation {
    width: 100%;
    background-color: #fff;
    border: 1px solid #e8e9e9;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 10px;
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
a {
    text-decoration: none;
}
.content {
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
}
.evaluations {
    min-width: 1060px;
    margin-right: 20px;
}
.content,
.h24,
span {
    padding: 12px;
}
span {
    color: rgba(94, 100, 102, 1);
}
.photoUser {
    width: 60px;
    height: 60px;
}
.photoExpert {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.expert,
.state {
    display: flex;
    justify-content: center;
    align-items: center;
}
.descriptionEvaluation {
    min-width: 408px;
}
.date {
    position: absolute;
    right: 12px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    
}
