<div class="body">
    <div class="content">
        <h1 class="h3 mb-3" style="font-family: 'GoshaSansBold'; font-size: 48px; "><span
                style="color: #32A8CD;">HR-Tech_</span>System</h1>
        <div class="createContent">
            <form [formGroup]="createCompany" (ngSubmit)="submit()">
                <h3 class="h3 mb-3" style="font-family: 'GoshaSansBold';">Компания</h3>

                <label for="inputTitle" class="">Название организации</label>
                <input formControlName="title" type="title" id="inputTitle" class="form-control"
                    placeholder="Введите наименование организации" required autofocus>

                <label for="inputLogo" class="">Логотип</label>
                <app-upload (onUploadFinished)="uploadFinishedLogo($event)"></app-upload>
                <label for="inputDescription" class="">Описание</label>
                <textarea formControlName="description" type="text" id="inputDescription" class="form-control mb-1"
                    required></textarea>

                <div class="form-group">
                    <h3 class="h3 mb-3" style="font-family: 'GoshaSansBold';">Адрес компании</h3>

                    <label for="country">Страна</label>
                    <input type="text" class="form-control" id="country" formControlName="country">
                    <label for="city">Город</label>
                    <input type="text" class="form-control" id="city" formControlName="city">
                    <label for="street">Улица</label>
                    <input type="text" class="form-control" id="street" formControlName="street">
                    <label for="houseNumber">Номер дома</label>
                    <input type="text" class="form-control" id="houseNumber" formControlName="houseNumber">
                </div>



                <h3 class="h3 mb-3" style="font-family: 'GoshaSansBold';">Сотрудники</h3>

                <label for="inputFileExcel" class="">Файл со списком сотрудников</label>

                <app-upload (onUploadFinished)="uploadFinishedExcelFile($event)"></app-upload>

                <ul style="margin-top: 13px;" *ngIf="templateFile;">
                    <li>
                        <button type="button" (click)="downloadTemplateFile(templateFile.id, templateFile.fileName)" style="background: #fff;"><img src="../../../assets/image/iconDownload.png">Загрузить {{templateFile.fileName}}</button>
                        <!-- <a href="" (click)="downloadTemplateFile(templateFile.id)"><img src="../../../assets/image/iconDownload.png">Загрузить {{templateFile.fileName}}</a> -->
                    </li>
                </ul>

                <div formArrayName="grades">
                    <button type="button" class="button2 mt-3" (click)="addGrade()" style="height: 36px;">
                        Добавить грейд <img src="../../../assets/image/iconAdd.png" alt="">
                    </button>
                    <div *ngFor="let quantity of grades().controls; let i=index" [formGroupName]="i" class="mt-3">
                        <div class="row">
                            <div class="col-lg">
                                <input type="text" class="form-control" formControlName="title">
                            </div>
                            <div class="col-lg">
                                <button class="btn btn-outline-secondary" class="button2" type="button"
                                (click)="removeGrade(i)" style="height: 44px;"><img src="../../../assets/image/iconClose.png"></button>                            </div>
                        </div>
                    </div>
                </div>
            
                <button type="submit" class="button2 mt-4">Зарегистрировать организацию</button>
            </form>

        </div>
        
    </div>
    
</div>